#itemleft .element h3,
#itemright .element h3
 {
  font-weight:bold;
}
#ci-files {
  height:500px;
  overflow: hidden;
}
.ui-autocomplete {
  background-color:white !important;
  z-index:1002 !important;
}